<h1>Contact</h1>
<p>
  Feel free to hit me up to schedule an appointment at the studio or just to get in touch.
</p>
<p>
  Facebook: www.facebook.com/CharlieBase.html<br/>
  Twitter: www.twitter.com/CharlieBase.html<br/>
  Phone: (555)555-5555
</p>